.profile-pic {
    img {
        vertical-align: middle;
        width: 200px;
        border-radius: 50%;
    }
}

.about-me {
    margin-left: 10%;
    margin-right: 10%;
    .info-table{
        display: grid;
        place-items: center;
        width: 100%;
        align-content: center;
        td{
            vertical-align: center;
        }
    }
    box-sizing: border-box;
    align-content: center;
    //padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    h1 {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }

    .info {
        h2 {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }

        p {
            font-size: 15px;
            padding-left: 30px;
        }
    }
}