@import './color-palette.sass';

.about-me {
    height: max-content;
    width: 100%;

    h1#title {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color: $dark-mint;
    }

    color: black;
    // margin-left: 10%;
    // margin-right: 10%;
    // padding-bottom: 100px;
    transition: all 0.1s;
}

// Flex container
.about-me-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: baseline;
    flex-wrap: wrap;

    // Flex items by their id
    #profile-picture {
        vertical-align: middle;
        width: 15rem;
        height: 15rem;
        border-radius: 10rem;
        border: 1rem ridge $pastel-mint;
        margin: 1rem;
        box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    }

    #my-info {
        p {
            padding: 0.7rem;
            font-size: 1.2rem;
            border-radius: 1rem;
            border: 2px solid $pastel-mint;
        }

        .social-media {
            text-align: center;

            svg {
                text-align: center;
                width: 2rem;
                padding: 0 1rem 0 1rem;
                vertical-align: middle;
            }

        }
    }
}