@import './variables.sass';

.about-me {
    height: max-content;
    width: 100%;

    h1#title {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        color: $dark-mint;
    }
}

// Flex container
.about-me-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5%;
    align-items: center;
    flex-wrap: wrap;
    height: max-content;
    
    // Flex items by their id
    #profile-picture {
        $profile-scale : 20rem;
        vertical-align: middle;
        width: $profile-scale;
        height: $profile-scale;
        border-radius: 50%;
        border: 1rem ridge $pastel-mint;
        margin: 1rem;
        box-shadow: $box-shadow;

        &:hover {
            border-radius: 0%;
            border: 1rem ridge $pastel-mint;
            transition: all 0.5s ease-in-out;
            box-shadow: $box-shadow-hover;
        }
    }

    #my-info {
        padding: 0.7rem;
        font-size: 1.2rem;
        border-radius: 1rem;
        border: 2px solid $pastel-mint;
        transition: height 300ms cubic-bezier(0.39, 0.575, 0.565, 1);

        .extra-info {
            display: none;
            font-size: 1.2rem;
            list-style: none;
        }
        &:hover{
            height: max-content;
            box-shadow: $box-shadow-hover;

            .extra-info {
                display: contents;
                font-size: 1.2rem;
                border-radius: 1rem;
                border: 2px solid $pastel-mint;
            }
        }
    }


    .social-media {
        text-align: center;

        svg {
            text-align: center;
            width: 2rem;
            padding: 0 1rem 0 1rem;
            vertical-align: middle;
        }

    }
}