@import './color-palette.sass';

.footer {
    p, a{
        
        text-decoration: none;
        text-align: center;
        color: #fff;
        background-color: $dark-mint;
        padding: 1rem;
    }
}