@import './color-palette.sass';

// Container of section title and all projects
.projects {
    display: flexbox;
    flex-direction: row;
    //height: 100vh;
    // Section title
    .section-title {
        h2 {
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 2rem;
        }
    }
    
    // Containter of all projects (The grid)
    .project-grid {
        background: $pastel-mint;
        display: grid;
        gap: 1rem;
        vertical-align: middle;
        padding: 1em 0 0 0;
        margin: 0 0 0 0;
        
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        
        font-size: 1.5rem;
        //box-shadow: rgba(37, 7, 77, 0.521) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
        height: 100%;
        border-radius: 0.4rem;
        overflow: hidden;

        // Grid items (Projects themselves)
        .project-grid-item {
            width: 16rem;
            height: 16rem;
            text-align: center;

            // Make Projects's post look cool with shadow
            border-radius: 0.5em;
            background-color: white;
            box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);

            p{
                padding: 0 10% 0 10%;
            }
            // project's title
            .project-title {
                font-size: 1.5rem;
                font-weight: 700;
                margin-bottom: 1rem;
            }

            // project's description
            .project-post {
                font-size: 1.2rem;
                font-weight: 400;
                margin-bottom: 1rem;
            }

            // project's link
            .project-link {
                span {
                    display: inline-block;
                }
            }
        }
    }
}