@import './variables.sass'

nav
    position: fixed
    left: 0
    background-color: $dark-mint
    ul, button
        list-style: none
        padding: 0
        margin: 0
        display: flex
        align-items: center
        height: 100%
        
        li
            width: 100%
            //cursor: pointer

            a, p
                display: flex
                align-items: center
                height: 5rem
                margin: 0
                color: white
                text-decoration: none
                font-weight: bold
                span
                    display: none
                    margin-left: 5rem
                    white-space: nowrap
                svg
                    position: absolute
                    fill: $turned-off
                    max-width: 2rem
                    max-height: 2rem
                    margin: 1.5rem 1.5rem
        
    // Big screen
    @media (min-width: $screen-small)
        width: 5rem
        height: 100vh
        top: 0
        ul
            flex-direction: column
            li
                border-top: 0.3rem solid transparent
                border-bottom: 0.3rem solid transparent
                // &:last-child
                //     margin-top: auto

        &:hover
            width: 16rem
            span, svg
                transition: all 500ms ease-in-out
            span
                display: block
                color: $turned-on
                font-size: 1.5rem 
            svg
                fill: $turned-on
            li
                border-radius: 1rem
                &:hover
                    box-shadow: $box-shadow-bold
                    transition: all 200ms ease-in-out

        transition: width 300ms ease-in-out
    
    // Small + phone screen (xsmall + small)
    @media (max-width: $screen-small)
        height: 5rem
        width: 100vw
        bottom: 0
        ul
            flex-direction: row
            justify-content: space-evenly
            li
                border-left: 0.01rem solid transparent
                border-right: 0.01rem solid transparent
                border-radius: 1rem
                // &:last-child
                //     display: none
               
                a
                    justify-content: center
                    width: 100%
                &:hover
                    box-shadow: $box-shadow-bold
                    svg
                        fill: $turned-on  
        
            li, svg
                transition: all 200ms ease-in-out