@import './color-palette.sass';

.navbar {
    width: 4rem;
    height: 100vh;
    position: fixed;
    background-color: $pastel-mint;
    left: 0;
    top: 0;

    .navbar-list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar-item {
        width: 100%;
        a{
            text-decoration: none;
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;

            color: black;
            padding: 1rem;
            display: block;
            transition: all 300ms ease-in-out;
        }
        

        a:hover {
            color: rgb(23, 29, 119);
            background-color: rgba(99, 109, 245, 0.493);
        }

        svg {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.5rem;
        }

        ul:last-child {
            margin-top: auto;
        }
    }
}