@import './variables.sass';
@import './style.sass';

// About Me component
.about-me {
    height: max-content;
    width: 100%;

    #title {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        color: $dark-mint;
        padding-bottom: 3vh;
    }

    // Grid container
    .about-me-grid {
        // 3x3 grid
        padding: 1rem 2rem;
        display: grid;
        grid-template-columns: 18vw 27vw 18vw;
        grid-template-rows: 18vh 27vh 18vh;
        align-items: center;
        height: max-content;
        justify-content: space-around;
        justify-items: center;

        // Flex items by their id
        .about-me-grid-item {
            
            &#profile-picture {
                grid-column: 2;
                grid-row: 1 / span 2;
                
                img{ 
                    vertical-align: middle;
                    width: min(42vw, 42vh);
                    padding: 0.5rem ;
                    border-radius: 50%;
                    border: 2px solid $pastel-mint;
                    margin: 1rem;
                    box-shadow: $box-shadow;
                }
            }

            p, &#languages {
                padding: 1rem;
                font-size: 1.24rem;
                border-radius: 1rem;
                border: 2px solid $pastel-mint;
                width: max-content;

                &:hover {
                    box-shadow: $box-shadow-hover;
                    transition: all 0.2s ease-in-out;
                }
            }

            &#name {
                grid-column: 1;
                grid-row: 1;
                justify-self: right;
                align-self: normal;
                margin-right: -1vw;
            }

            &#education {
                grid-column: 1;
                grid-row: 2 / span 2;
                text-align: center;
                justify-self: right;
                margin-right: -2vw;
            }

            &#languages {
                justify-self: left;
                grid-column: 3;
                grid-row: 1 / span 2;
                margin-left: -1vw;
                padding-bottom: initial;

                text-align: center;
                ul {
                    list-style: none;
                    padding: 0;
                    display: inline-grid;
                    grid-template-columns: 1fr 1vw 1fr;
                    li#lang{
                        text-align: left;
                    }
                    li#proficiency{
                        text-align: left;
                    }
                }
            }

            &#social-media {
                grid-column: 2;
                grid-row: 3;
                text-align: center;
                svg {
                    fill: $dark-mint;
                    text-align: center;
                    width: 2.4rem;
                    padding: 0 1rem 0 1rem;
                    vertical-align: middle;
                }
            }
        }
    }
}

// Projects component
.projects {
    height: max-content;

    .section-title {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        color: $dark-mint;
    }

    // Projects container
    .project-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        background: $pastel-mint;
        padding: 2rem 1rem;
        height: max-content;
        box-shadow: $box-shadow-bold;
        margin-bottom: 1rem;
        border-radius: 0.4rem;
        overflow: hidden;

        // Grid items (Projects themselves)
        .project-flex-item {
            width: 18rem;
            height: max-content;
            min-height: 16rem;
            text-align: center;
            padding: 0.5rem;
            margin: 0.5rem;

            // Make Projects's post look cool with shadow
            border-radius: 0.5em;
            background-color: white;
            box-shadow: $box-shadow;

            &:hover {
                box-shadow: $box-shadow-hover;
                transition: all 0.2s ease-in-out;
            }

            p {
                padding: 0 10% 0 10%;
            }

            // project's title
            .project-title {

                font-size: 150%;
                font-weight: 700;
                margin-bottom: 1rem;
            }

            // project's description
            .project-post {
                font-size: 1.2rem;
                font-weight: 400;
                margin-bottom: 1rem;
            }

            // project's link
            .project-link {
                span {
                    display: inline-block;
                }

                a {
                    svg {
                        margin-top: auto;
                        height: 2rem;
                    }
                }
            }
        }
    }
}

// Skills component
.skills {
    height: max-content;

    .section-title {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        color: $dark-mint;
    }

    // Skills .container
    .skills-flex {
        // make this a grid
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        background: $pastel-mint;
        //padding: 2rem 1rem;
        height: max-content;
        box-shadow: $box-shadow-bold;
        border-radius: 0.4rem;
        overflow: hidden;
        row-gap: 2rem;
        padding: 1rem 0;

        .skills-flex-item {
            max-width: max-content;
            align-items: center;
        }

        // #webdev {
        //     max-width: 27rem;
        // }

        .skills-flex-item-title {
            color: pink;
            text-align: center;
            color: rgb(12, 44, 48);
            font-size: 2rem;
            font-weight: 700;
            margin: 0.2rem;
            padding: 1rem;
            border-bottom: 0.2rem solid beige;
        }

        .skills-flex-flex {
            background-color: #fff;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: flex-start;
            padding: 1rem 0.5rem;
            //margin: 0;
            margin: 1.5rem;
            height: max-content;
            border-radius: 1rem;
            overflow: hidden;

            &:hover {
                box-shadow: $box-shadow-hover;
                transition: all 0.2s ease-in-out;
            }

            // skill-flex-flex-item
            .skill {
                align-self: flex-end;
                height: 4rem;
                width: 4rem;
                text-align: center;
                margin: 1rem;
                padding: 0.3rem;

                //border: 0.1rem solid $dark-mint;
            }

        }
    }
}

// Footer component
.footer {

    p,
    a {

        text-decoration: none;
        text-align: center;
        color: #fff;
        background-color: $dark-mint;
        padding: 1rem;
    }
}