@import './variables.sass';
// @import './style.sass';

// small screen:
//@media (max-width: $screen-small)

// tablet screen:
//@media (min-width: $screen-medium)

// large screen:
//@media (min-width: $screen-large)

// current configurations:
//@media (max-width: $screen-medium)
//@media (min-width: $screen-medium)

// Common components
.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: $dark-mint;
}

// About Me component
.about-me {
    height: max-content;
    width: 100%;

    #title {
        padding-bottom: 3vh;
    }


    // Grid container
    .about-me-grid {
        // 3x3 grid
        // phone screen
        
        @media (max-width: $screen-medium) {
            display: flex;
            flex-direction: column;
            .about-me-grid-item {
                
                &#name {
                    justify-self: center;
                }
                
                &#education {
                    text-align: center;
                    justify-self: center;
                }
                &#profile-picture {
                    justify-self: center;
                }

                &#languages {
                    justify-self: center;
                    padding-bottom: initial;
                }

                &#social-media {
                    padding-top: 2.4vh;
                }
            }
        }
        // laptop screen
        @media (min-width: $screen-medium) {
            display: grid;
            grid-template-columns: 18vw 27vw 18vw;
            grid-template-rows: 18vh 27vh 18vh;

            .about-me-grid-item {
                &#profile-picture {
                    grid-column: 2;
                    grid-row: 1 / span 2;
                }

                &#name {
                    grid-column: 1;
                    grid-row: 1;
                    justify-self: right;
                    align-self: normal;
                    margin-right: -1vw;
                }

                &#education {
                    grid-column: 1;
                    grid-row: 2 / span 2;
                    text-align: center;
                    justify-self: right;
                    margin-right: -2vw;
                }

                &#languages {
                    grid-column: 3;
                    grid-row: 1 / span 2;
                    justify-self: left;
                    margin-left: -1vw;
                    padding-bottom: initial;
                }

                &#social-media {
                    grid-column: 2;
                    grid-row: 3;
                    padding-top: 3.6vh;
                }
            }
        }
        padding: 1rem 2rem;
        align-items: center;
        height: max-content;
        justify-content: space-around;
        justify-items: center;

        // Flex items by their id
        .about-me-grid-item {
            &#profile-picture>img {
                vertical-align: middle;
                width: min(21rem, 54vw);
                padding: 0.5rem;
                border-radius: 50%;
                border: 2px solid $pastel-mint;
                margin: 1rem;
                box-shadow: $box-shadow;
            }

            p,
            &#languages {
                padding: 1rem;
                font-size: 1.24rem;
                border-radius: 1rem;
                border: 2px solid $pastel-mint;
                width: max-content;

                &:hover {
                    box-shadow: $box-shadow-hover;
                    transition: all 0.2s ease-in-out;
                }
            }

            &#languages {
                text-align: center;

                ul {
                    list-style: none;
                    padding: 0;
                    display: inline-grid;
                    grid-template-columns: 1fr 1vw 1fr;

                    li#lang {
                        text-align: left;
                    }

                    li#proficiency {
                        text-align: left;
                    }
                }
            }

            &#social-media {
                text-align: center;
                svg {
                    fill: $dark-mint;
                    text-align: center;
                    width: 2.4rem;
                    padding: 0 1rem 0 1rem;
                    vertical-align: middle;
                }
            }
        }
    }
}

// Projects component
.projects {
    height: max-content;
    width: 100%;
    // Projects container
    .project-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: center;
        gap: 0.3rem;
        align-items: flex-start;
        background: $pastel-mint;
        padding: 2rem 1rem;
        height: max-content;
        box-shadow: $box-shadow-bold;
        margin-bottom: 1rem;
        border-radius: 0.6rem;
        overflow: hidden;

        // grid = flex-item = projects post
        .project-grid {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            width: 18rem;
            height: 15rem;
            text-align: center;
            padding: 0.3rem;
            margin: 0.3rem;

            // Make Projects's post look cool with shadow
            border-radius: 0.5em;
            background-color: white;
            box-shadow: $box-shadow;



            // project's title
            .project-title {
                font-size: 1.5rem;
                font-weight: 700;
                margin: 1rem 0 0 0;
                height: max-content;
            }

            &:hover {
                box-shadow: $box-shadow-hover;
                transition: all 0.2s ease-in-out;
            }

            p {
                padding: 0 8.1%;
            }


            // project's description
            .project-desc {
                font-size: 1.36rem;
                font-weight: 420;
                margin: 0.2rem 0;
            }

            // project's link
            .project-link {
                justify-self: center;
                width: 42%;
                display: inline-grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;

                .link {
                    &#github {
                        grid-column: 1;
                    }

                    &#linkto {
                        grid-column: 2;
                    }
                }


                svg {
                    margin-top: auto;
                    height: 2rem;
                }
            }

        }
    }
}

// Skills component
.skills {
    height: max-content;

    .skills-grid {
        // -- decor --
        background-color: $pastel-mint;
        border-radius: 0.5em;
        box-shadow: $box-shadow-bold;
        padding: 1rem;
        // Phone Screen
        @media (max-width: $screen-medium){
            display: flex;
            flex-direction: column;
            align-items: center;
            .submodule-grid {
                height: max-content;
            grid-template-rows: max-content 12rem max-content;
            grid-template-columns: 60vw;
                .submodule-item {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                }
            }
        }
        
        // PC Screen
        @media (min-width: $screen-medium){
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 1rem;
            justify-items: center;
            justify-content: space-evenly;

            .submodule-grid {
                grid-template-rows: 3.6rem 12rem 9rem;
                #SysDevLangs {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                }
            
                #DataSciLangs {
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    grid-template-columns: repeat(4, 1fr);
                }
            
                #WebDevLangs {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    ;
                    grid-template-rows: 1fr 1fr;
            
                }
            
                #SoftDevLangs {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                }
            }
        }
        
        // submodule-grid = skills-grid-item = section
        .submodule-grid {
            display: grid;
            column-gap: 0.3rem;
            row-gap: 0.3rem;
            background-color: white;
            border-radius: 0.5em;
            box-shadow: $box-shadow;
            padding: 2rem;
            margin: 1rem;
            // width: fit-content;
            //height: 27rem;
            align-items: center;
            justify-items: center;
            word-wrap: break-word;

            .title {
                font-size: 2rem;
                font-weight: bold;
                text-align: center;
                color: $dark-mint;
                border-bottom: solid 0.2rem $dark-mint;
                width: 100%;

                p {
                    margin: 1rem;
                }
            }

            .description {
                width: 100%;
                font-size: 1.24rem;
                font-weight: 500;
                text-align: justify;
            }

            .skill {
                height: 3.24rem;
                text-align: center;
                margin: 1rem;
                padding: 0.3rem;
            }
        }
    }

}

.experience{
     .container{
        color: $dark-mint;
     }
     .container-flex::after{
        content: "no";
        background-color:aqua;
     }
}

// Footer component
.footer {
    align-items: center;
    width: 80vw;
    padding: 0 1rem;
    margin-bottom: 1rem;
    box-shadow: $box-shadow-bold;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: $pastel-mint;
    .container{
        border-radius: 0.5rem;
        box-shadow: $box-shadow;
        padding: 0.3rem;
        background-color: white;
        margin: 1rem 2rem;
        text-decoration: none;
        text-align: center;
        font-weight: 480;
        font-size: 1.2rem;
        color: black;
        line-height: 1.5rem;
        transition: all 2s ease-in-out;
        a{
            font-weight: bold;
            color: $dark-mint;
            text-decoration: none;
            &:visited{
                color: $dark-mint;
            }
            &:hover{
                text-shadow: $box-shadow-hover;
            }
        }
        // padding: 1rem;
    }
}