@import './variables.sass';
@import './style.sass';

// About Me component
.about-me {
    height: max-content;
    width: 100%;

    #title {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        color: $dark-mint;
        padding-bottom: 3vh;
    }

    // Grid container
    .about-me-grid {
        // 3x3 grid
        padding: 1rem 2rem;
        display: grid;
        grid-template-columns: 18vw 27vw 18vw;
        grid-template-rows: 18vh 27vh 18vh;
        align-items: center;
        height: max-content;
        justify-content: space-around;
        justify-items: center;

        // Flex items by their id
        .about-me-grid-item {
            
            &#profile-picture {
                grid-column: 2;
                grid-row: 1 / span 2;
                
                img{ 
                    vertical-align: middle;
                    width: min(42vw, 42vh);
                    padding: 0.5rem ;
                    border-radius: 50%;
                    border: 2px solid $pastel-mint;
                    margin: 1rem;
                    box-shadow: $box-shadow;
                }
            }

            p, &#languages {
                padding: 1rem;
                font-size: 1.24rem;
                border-radius: 1rem;
                border: 2px solid $pastel-mint;
                width: max-content;

                &:hover {
                    box-shadow: $box-shadow-hover;
                    transition: all 0.2s ease-in-out;
                }
            }

            &#name {
                grid-column: 1;
                grid-row: 1;
                justify-self: right;
                align-self: normal;
                margin-right: -1vw;
            }

            &#education {
                grid-column: 1;
                grid-row: 2 / span 2;
                text-align: center;
                justify-self: right;
                margin-right: -2vw;
            }

            &#languages {
                justify-self: left;
                grid-column: 3;
                grid-row: 1 / span 2;
                margin-left: -1vw;
                padding-bottom: initial;

                text-align: center;
                ul {
                    list-style: none;
                    padding: 0;
                    display: inline-grid;
                    grid-template-columns: 1fr 1vw 1fr;
                    li#lang{
                        text-align: left;
                    }
                    li#proficiency{
                        text-align: left;
                    }
                }
            }

            &#social-media {
                grid-column: 2;
                grid-row: 3;
                text-align: center;
                svg {
                    fill: $dark-mint;
                    text-align: center;
                    width: 2.4rem;
                    padding: 0 1rem 0 1rem;
                    vertical-align: middle;
                }
            }
        }
    }
}

// Projects component
.projects {
    height: max-content;
    width: 100%;

    .section-title {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        color: $dark-mint;
    }

    // Projects container
    .project-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: center;
        gap: 0.3rem;
        align-items: flex-start;
        background: $pastel-mint;
        padding: 2rem 1rem;
        height: max-content;
        box-shadow: $box-shadow-bold;
        margin-bottom: 1rem;
        border-radius: 0.6rem;
        overflow: hidden;
        
        // grid = flex-item = projects post
        .project-grid {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            width: 18rem;
            height: 15rem;
            text-align: center;
            padding: 0.3rem;
            margin: 0.3rem;
            
            // Make Projects's post look cool with shadow
            border-radius: 0.5em;
            background-color: white;
            box-shadow: $box-shadow;
            
            

            // project's title
            .project-title {
                font-size: 1.5rem;
                font-weight: 700;
                margin: 1rem 0 0 0;
                height: max-content;
            }
            &:hover {
                box-shadow: $box-shadow-hover;
                transition: all 0.2s ease-in-out;
            }

            p {
                padding: 0 8.1%;
            }


            // project's description
            .project-desc {
                font-size: 1.36rem;
                font-weight: 500;
                margin: 0.2rem 0;
            }

            // project's link
            .project-link {
                justify-self: center;
                width: 42%;
                display: inline-grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                .link {
                    &#github{
                        grid-column: 1;
                    }

                    &#linkto{
                        grid-column: 2;
                    }
                }


                svg {
                    margin-top: auto;
                    height: 2rem;
                }
            }
                        
        }
    }
}

// Skills component
.skills {
    height: max-content;
    border: 8px solid black;

    .section-title {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        color: $dark-mint;
    }

    .skills-grid{
        border: 8px solid gray;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3rem;
        column-gap: 1rem;

        // submodule-grid = skills-grid-item
        .submodule-grid{
            border: 8px solid pink;
            display: grid;
            grid-template-rows: 1fr 2fr 3fr;
            //grid-template-columns: 1fr 1fr;
            column-gap: 1rem;
            row-gap: 1rem;
            align-items: center;
            justify-items: center;
            .submodule-title{
                font-size: 1.5rem;
                font-weight: bold;
                text-align: center;
                color: blueviolet;
            }
            .skill {
                    height: 3rem;
                    width: 3rem;
                    text-align: center;
                    margin: 1rem;
                    padding: 0.3rem;   
            }
        }
    }
    
}

// Footer component
.footer {

    p,
    a {

        text-decoration: none;
        text-align: center;
        color: #fff;
        background-color: $dark-mint;
        padding: 1rem;
    }
}